<a href="https://colab.research.google.com/github/hfairyz/AI_ML/blob/main/week5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# ch3

In [2]:
cd /content/drive/MyDrive/머신러닝/Pandas/ch_03

/content/drive/MyDrive/머신러닝/Pandas/ch_03

In [3]:
import pandas as pd

long_df = pd.read_csv(
    'data/long_data.csv', usecols=['date', 'datatype', 'value']
).rename(
    columns={'value': 'temp_C'}
).assign(
    date=lambda x: pd.to_datetime(x.date),
    temp_F=lambda x: (x.temp_C * 9/5) + 32
)
long_df.head()

  datatype       date  temp_C  temp_F
0     TMAX 2018-10-01    21.1   69.98
1     TMIN 2018-10-01     8.9   48.02
2     TOBS 2018-10-01    13.9   57.02
3     TMAX 2018-10-02    23.9   75.02
4     TMIN 2018-10-02    13.9   57.02

## pivoting

In [4]:
pivoted_df = long_df.pivot(
    index='date', columns='datatype', values='temp_C'
)
pivoted_df.head()

datatype    TMAX  TMIN  TOBS
date
2018-10-01  21.1   8.9  13.9
2018-10-02  23.9  13.9  17.2
2018-10-03  25.0  15.6  16.1
2018-10-04  22.8  11.7  11.7
2018-10-05  23.3  11.7  18.9

In [5]:
pivoted_df = long_df.pivot(
    index='date', columns='datatype', values=['temp_C', 'temp_F']
)
pivoted_df.head()

           temp_C             temp_F
datatype     TMAX  TMIN  TOBS   TMAX   TMIN   TOBS
date
2018-10-01   21.1   8.9  13.9  69.98  48.02  57.02
2018-10-02   23.9  13.9  17.2  75.02  57.02  62.96
2018-10-03   25.0  15.6  16.1  77.00  60.08  60.98
2018-10-04   22.8  11.7  11.7  73.04  53.06  53.06
2018-10-05   23.3  11.7  18.9  73.94  53.06  66.02

In [6]:
pivoted_df.columns

MultiIndex([('temp_C', 'TMAX'),
            ('temp_C', 'TMIN'),
            ('temp_C', 'TOBS'),
            ('temp_F', 'TMAX'),
            ('temp_F', 'TMIN'),
            ('temp_F', 'TOBS')],
           names=[None, 'datatype'])

## unstack

In [7]:
multi_index_df = long_df.set_index(['date', 'datatype'])
multi_index_df.head()

                     temp_C  temp_F
date       datatype
2018-10-01 TMAX        21.1   69.98
           TMIN         8.9   48.02
           TOBS        13.9   57.02
2018-10-02 TMAX        23.9   75.02
           TMIN        13.9   57.02

In [8]:
unstacked_df = multi_index_df.unstack()
unstacked_df.head()

           temp_C             temp_F
datatype     TMAX  TMIN  TOBS   TMAX   TMIN   TOBS
date
2018-10-01   21.1   8.9  13.9  69.98  48.02  57.02
2018-10-02   23.9  13.9  17.2  75.02  57.02  62.96
2018-10-03   25.0  15.6  16.1  77.00  60.08  60.98
2018-10-04   22.8  11.7  11.7  73.04  53.06  53.06
2018-10-05   23.3  11.7  18.9  73.94  53.06  66.02

## melting

In [9]:
wide_df = pd.read_csv('data/wide_data.csv')
wide_df.head()

         date  TMAX  TMIN  TOBS
0  2018-10-01  21.1   8.9  13.9
1  2018-10-02  23.9  13.9  17.2
2  2018-10-03  25.0  15.6  16.1
3  2018-10-04  22.8  11.7  11.7
4  2018-10-05  23.3  11.7  18.9

In [10]:
melted_df = wide_df.melt(
    id_vars='date',
    value_vars=['TMAX', 'TMIN', 'TOBS'],
    value_name='temp_C',
    var_name='measurement'
)
melted_df.head()

         date measurement  temp_C
0  2018-10-01        TMAX    21.1
1  2018-10-02        TMAX    23.9
2  2018-10-03        TMAX    25.0
3  2018-10-04        TMAX    22.8
4  2018-10-05        TMAX    23.3

In [11]:
melted_df.tail()

          date measurement  temp_C
88  2018-10-27        TOBS     6.1
89  2018-10-28        TOBS     7.2
90  2018-10-29        TOBS     8.3
91  2018-10-30        TOBS     5.0
92  2018-10-31        TOBS     0.0

## stack

In [13]:
wide_df.set_index('date', inplace=True)
wide_df.head()

            TMAX  TMIN  TOBS
date
2018-10-01  21.1   8.9  13.9
2018-10-02  23.9  13.9  17.2
2018-10-03  25.0  15.6  16.1
2018-10-04  22.8  11.7  11.7
2018-10-05  23.3  11.7  18.9

In [14]:
stacked_series = wide_df.stack()
stacked_series.head()

date
2018-10-01  TMAX    21.1
            TMIN     8.9
            TOBS    13.9
2018-10-02  TMAX    23.9
            TMIN    13.9
dtype: float64

In [15]:
stacked_df = stacked_series.to_frame('values')
stacked_df.head()

                 values
date
2018-10-01 TMAX    21.1
           TMIN     8.9
           TOBS    13.9
2018-10-02 TMAX    23.9
           TMIN    13.9

# ch4

In [17]:
cd /content/drive/MyDrive/머신러닝/Pandas/ch_04

/content/drive/MyDrive/머신러닝/Pandas/ch_04

In [23]:
import pandas as pd
import numpy as np

weather = pd.read_csv('data/nyc_weather_2018.csv')
weather.head()

                  date datatype            station attributes  value
0  2018-01-01T00:00:00     PRCP  GHCND:US1CTFR0039       ,,N,    0.0
1  2018-01-01T00:00:00     PRCP  GHCND:US1NJBG0015       ,,N,    0.0
2  2018-01-01T00:00:00     SNOW  GHCND:US1NJBG0015       ,,N,    0.0
3  2018-01-01T00:00:00     PRCP  GHCND:US1NJBG0017       ,,N,    0.0
4  2018-01-01T00:00:00     SNOW  GHCND:US1NJBG0017       ,,N,    0.0

In [26]:
weather.loc[
    (weather.datatype == 'PRCP') 
    & weather.station.str.contains('S0007'), :
]

                      date datatype            station attributes  value
79     2018-01-01T00:00:00     PRCP  GHCND:US1NYNS0007       ,,N,    0.0
311    2018-01-02T00:00:00     PRCP  GHCND:US1NYNS0007       ,,N,    0.0
545    2018-01-03T00:00:00     PRCP  GHCND:US1NYNS0007       ,,N,    0.0
788    2018-01-04T00:00:00     PRCP  GHCND:US1NYNS0007       ,,N,    4.1
1044   2018-01-05T00:00:00     PRCP  GHCND:US1NYNS0007       ,,N,   18.0
...                    ...      ...                ...        ...    ...
77762  2018-12-27T00:00:00     PRCP  GHCND:US1NYNS0007       ,,N,    0.0
77974  2018-12-28T00:00:00     PRCP  GHCND:US1NYNS0007       ,,N,    4.3
78191  2018-12-29T00:00:00     PRCP  GHCND:US1NYNS0007       ,,N,   25.9
78408  2018-12-30T00:00:00     PRCP  GHCND:US1NYNS0007       ,,N,    0.3
78641  2018-12-31T00:00:00     PRCP  GHCND:US1NYNS0007       ,,N,    0.0

[349 rows x 5 columns]

In [27]:
weather.describe(include='object')

                       date datatype            station attributes
count                 78780    78780              78780      78780
unique                  365       27                110         26
top     2018-03-22T00:00:00     PRCP  GHCND:USW00094789       ,,N,
freq                    296    27228               4270      34153

In [30]:
weather.describe(include='all')

,date,datatype,station,attributes,value
count,78780,78780,78780,78780,78780.000000
unique,365,27,110,26,NaN
top,2018-03-22T00:00:00,PRCP,GHCND:USW00094789,",,N,",NaN
freq,296,27228,4270,34153,NaN
mean,NaN,NaN,NaN,NaN,44.951456
std,NaN,NaN,NaN,NaN,192.835503
min,NaN,NaN,NaN,NaN,-72.800000
25%,NaN,NaN,NaN,NaN,0.000000
50%,NaN,NaN,NaN,NaN,1.000000
75%,NaN,NaN,NaN,NaN,12.800000
max,NaN,NaN,NaN,NaN,2359.000000

In [29]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78780 entries, 0 to 78779
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        78780 non-null  object
 1   datatype    78780 non-null  object
 2   station     78780 non-null  object
 3   attributes  78780 non-null  object
 4   value       78780 non-null  float64
dtypes: float64(1), object(4)
memory usage: 3.0+ MB